page-menu-group {
    .button{
        border: 2px;
        border-block-end-color: black
    }
    h1.header-style{
        font-weight: bold;
        color: black !important;
        font-size: 6vw !important;
        text-align: left !important;
      }
      .icon-menu-style {
        width: 60%;
        height: auto;
        margin: auto;
      }
      .content-center {
        font-weight: bold;
        color: rgb(27, 15, 15) !important;
        font-size: 4vw !important;
        margin: auto;
      }

}
