page-old-report-bi-1-month-graph {
    h2.header-style{
        font-weight: bold;
        color: black !important;
        font-size: 6vw !important;
        text-align: center !important;
      }
      h3.header-style{
        color: black !important;
        font-size: 5vw !important;
        text-align: center !important;
      }
      .desc-right{
        font-weight: bold;
        color: black !important;
        font-size: 3vw !important;
        text-align: right !important;
      }
      .DataStatus-font{
        font-weight: bold;
        color: rgb(29, 97, 160) !important;
        font-size: 3vw !important;
        text-align: left !important;
      }
}
