<ion-header>

  <ion-navbar color="navber">
    <ion-title>สถิติคดีและค่าปรับ เปรียบเทียบ เป้าหมายและปีก่อน</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  
    <h2 class="header-style">สถิติคดีและค่าปรับ เปรียบเทียบ เป้าหมายและปีก่อน</h2>
    <h3 class="header-style">{{dateDisplay}}</h3>
    <h3 style="padding-right: 2%;line-height:0.3vw;"class="desc-right">หน่วย :     คดี : ราย</h3>
    <h3 style="padding-right: 2%;line-height:0.3vw;"class="desc-right">ค่าปรับ : ล้านบาท</h3>
  <ion-card>
    <ion-card-content no-padding>
      <!-- <<ion-scroll scrollX="true" style="width:100%; height:50px">-->
      <div class="table-responsive">
        <table class="table" style="width: 100%;">
          <thead>
            <tr style="background-color: #F78B26; ">
              <th width="<ion-col width-75>
                
              </ion-col>%"><h3 class="th-center">ลำดับ</h3></th>
              <th width="13%"><h3 class="th-center">พ.ร.บ.</h3></th>
              <th><h3 class="th-center">กลุ่มสินค้าหลัก</h3></th>
              <th><h3 class="th-center">ประเภท</h3></th>
              <th><h3 class="th-center">ปีนี้</h3></th>
              <th><h3 class="th-center">เป้าหมาย</h3></th>
              <th width="8%"><h3 class="th-center">ปีก่อน</h3></th>
              <th><h3 class="th-center">+/-</h3></th>
              <th width="8%"><h3 class="th-center">เป้าหมาย(%)</h3></th>              
              <th><h3 class="th-center">+/-</h3></th>
              <th width="8%"><h3 class="th-center">ปีก่อน(%)</h3></th>
            
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of responseData; index as i"  >
          
              <td width="5%"><h3 class="td-center"> {{i+1}}</h3></td>
              <td><h3 class="td-left">{{data.LEGISLATION_SHORT_DESC}}</h3></td>
              <td><h3 class="td-left">{{data.GROUP_DESC}}</h3></td>
              <td><h3 class="td-left">{{data.LAW_TYPE}}</h3></td>
              <td><h3 class="td-right">{{data.LAW_AMT}}</h3></td>
              <td><h3 class="td-right">{{data.TARGET_AMT}}</h3></td>
              <td><h3 class="td-right">{{data.L_LAW_AMT}}</h3></td>
              <td>
                <h3 *ngIf="data.TARGET_PERCENTAGE > 0 && data.TARGET_PERCENTAGE <= 5" class="right-Green">{{data.COMPARE_TARGET}}</h3>
                <h3 *ngIf="data.TARGET_PERCENTAGE > 5 " class="right-moreGreen">{{data.COMPARE_TARGET}}</h3>
                <h3 *ngIf="data.TARGET_PERCENTAGE <= 0 && data.TARGET_PERCENTAGE > -5 " class="right-yellow">{{data.COMPARE_TARGET}}</h3>
                <h3 *ngIf="data.TARGET_PERCENTAGE <= -5  " class="right-red">{{data.COMPARE_TARGET}}</h3>
              </td>
              <td width="8%">
                <h3 *ngIf="data.TARGET_PERCENTAGE == 0 "  class="td-right">-</h3>
                <h3 *ngIf="data.TARGET_PERCENTAGE > 0 " class="td-right">{{data.TARGET_PERCENTAGE}}</h3> 
              </td>

              <td width="8%">
                <h3 *ngIf="data.LAST_TAX_PERCENTAGE > 0 && data.LAST_TAX_PERCENTAGE <= 5" class="right-Green">{{data.COMPARE_TAX}}</h3>
                <h3 *ngIf="data.LAST_TAX_PERCENTAGE > 5 " class="right-moreGreen">{{data.compare_tax}}</h3>
                <h3 *ngIf="data.LAST_TAX_PERCENTAGE <= 0 && data.LAST_TAX_PERCENTAGE > -5 " class="right-yellow">{{data.COMPARE_TAX}}</h3>
                <h3 *ngIf="data.LAST_TAX_PERCENTAGE <= -5  " class="right-red">{{data.COMPARE_TAX}}</h3>
              </td>
              <td width="8%">
                <h3 *ngIf="data.LAST_TAX_PERCENTAGE == 0 "  class="td-right">-</h3>
                <h3 *ngIf="data.LAST_TAX_PERCENTAGE > 0 " class="td-right">{{data.LAST_TAX_PERCENTAGE}}</h3> 
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- </ion-scroll>-->
    </ion-card-content>
  </ion-card>
 

</ion-content>
