page-compare-tax-est-alcohol {
 .head{
    background-color:rgb(34, 149, 172);
    font-size: 14px; 
    color: white;
 }
 ion-item.size{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    color: black ;
    font-size: 4vw ;
  }
}
