<ion-header>
  <ion-navbar color="navber">
    <ion-title>ผู้ประกอบการรายเดือน <br>
      ผู้ใช้งาน : {{username}}
    </ion-title>    
  </ion-navbar>
</ion-header>

<ion-content [class.disable-scrolling]='isScaling' [style.fontSize]="fontSize">
  <div pinch (pinchstart)="onPinchStart($event)" (pinchend)="onPinchEnd($event)" (pinchmove)="onPinchMove($event)">
    <ion-item text-center style="background-color:#D0DFE6;" text-center>
      <h2 class="header-style">รายงาน Top 10 ผู้ประกอบการรายเดือน</h2>
      <h2 class="header-style">{{dateAsOff}}</h2>
    </ion-item>

    <ion-grid>
        <ion-row>
            <ion-col>
              <ion-item class="size">
                <ion-label> เดือน : </ion-label>
                <ion-select [(ngModel)]="month_from"  (ionChange)="selectMonthFrom(Region, Province, typeCur,month_from,month_to)">
                  <ion-option value="undefined">ทั้งหมด</ion-option>
                  <ion-option *ngFor="let item3 of ResponseMthFrom"  value="{{item3.BUDGET_MONTH_CD}}"  [selected]="select_mth_from == item3.BUDGET_MONTH_CD">{{item3.MONTH_DESC}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="size">
                <ion-label> ถึง: </ion-label>
                <ion-select [(ngModel)]="month_to" (ionChange)="selectMonthTo(Region, Province, typeCur,month_from,month_to)">
                  <ion-option value="undefined">ทั้งหมด</ion-option>
                  <ion-option  *ngFor="let item4 of ResponseMthTo"  value="{{item4.BUDGET_MONTH_CD}}"  [selected]="select_mth_to == item4.BUDGET_MONTH_CD">{{item4.MONTH_DESC}}</ion-option>
                </ion-select>
              </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <ion-item  class="size">
                <ion-label> ภาค : </ion-label>
                <ion-select  [(ngModel)]="Region" (ionChange)="selectRegion(Region, Province, typeCur,month_from,month_to)" disabled={{isEnable}}>
                     <ion-option value="undefined"  [selected]="select_all_value">ทั้งหมด</ion-option>
                     <ion-option  *ngFor="let item of responseRegion"  value="{{item.REGION_NAME}}"  [selected]="select_region == item.REGION_NAME">{{item.REGION_NAME}}</ion-option>              
                </ion-select>
              </ion-item>
          </ion-col>        
          <ion-col>
            <ion-item  class="size">
                <ion-label>จังหวัด : </ion-label>
                <ion-select  [(ngModel)]="Province" (ionChange)="selectionProvince(Region, Province, typeCur,month_from,month_to)" disabled={{isEnableProv}}>
                     <ion-option value="undefined"   [selected]="select_all_prov_value">ทั้งหมด</ion-option >
                     <ion-option  *ngFor="let item1 of ResponseProvince"  value="{{item1.PROVINCE_NAME}}"  [selected]="select_province == item1.PROVINCE_NAME">{{item1.PROVINCE_NAME}}</ion-option>            
                </ion-select>
            </ion-item>
         </ion-col>         
      </ion-row>
    </ion-grid>


    <ion-item class="sizemini" no-lines>
      <ion-label> หน่วย : </ion-label>
      <ion-select [(ngModel)]="typeCur" (ionChange)="selectDate(Region, Province,typeCur,Mth_From,Mth_To)">
        <ion-option value="M" [selected]="true">ล้านบาท</ion-option>
        <ion-option value="B">บาท</ion-option>
      </ion-select>
    </ion-item>


    <ion-card>
      <ion-card-content no-padding>
        <div class="table-responsive">
          <table class="table" style="width: 100%;">
            <thead>
              <tr style="background-color: #F78B26; ">
                <th width="10%">
                  <h3 class="th-center" [style.fontSize]="fontSize">ลำดับ</h3>
                </th>
                <th>
                  <h3 class="th-center" [style.fontSize]="fontSize">ผู้ประกอบการ</h3>
                </th>
                <th>
                  <h3 class="th-center" [style.fontSize]="fontSize">ภาษีปีนี้</h3>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of responseData">
                <td width="10%">
                  <h3 class="td-center" [style.fontSize]="fontSize">{{data.SORT}}</h3>
                </td>
                <td>
                  <h3 class="td-left" [style.fontSize]="fontSize">{{data.REG_NAME}}</h3>
                </td>
                <td>
                  <h3 class="td-right" [style.fontSize]="fontSize">{{data.TAX}}</h3>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
