<ion-header>
  <ion-navbar color="navber">
    <ion-title text-wrap>Real Time <br>
      ผู้ใช้งาน : {{username}} <br>

    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding
[class.disable-scrolling]='isScaling'
[style.fontSize]="fontSize">

<div pinch
(pinchstart)="onPinchStart($event)"
(pinchend)="onPinchEnd($event)"
(pinchmove)="onPinchMove($event)">
  <ion-item style="background-color:#D0DFE6;" text-center>
    <h1 class="header-style">รายงานรับเงินรายได้ Real Time</h1>
    <h2 class="header-style">{{dateNow}} เวลา {{time}} น.</h2>
  </ion-item>

  <ion-grid>
    <ion-row>

      <ion-col>
        <ion-item class="size">
          <ion-label> ภาค : </ion-label>
          <ion-select [(ngModel)]="Region" (ionChange)="selectRegion(Region,Province, typeCur)" disabled={{isEnable}}>
            <ion-option value="undefined" [selected]="select_all_value">ทั้งหมด</ion-option>
            <ion-option *ngFor="let item of responseRegion" value="{{item.REGION_NAME}}" [selected]="select_region == item.REGION_NAME">{{item.REGION_NAME}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item class="size">
          <ion-label>จังหวัด : </ion-label>
          <ion-select [(ngModel)]="Province" (ionChange)="selectionProvince(Region,Province, typeCur)" disabled={{isEnableProv}}>
            <ion-option value="undefined" [selected]="select_all_prov_value">ทั้งหมด</ion-option>
            <ion-option *ngFor="let item1 of ResponseProvince" value="{{item1.PROVINCE_NAME}}" [selected]="select_province == item1.PROVINCE_NAME">{{item1.PROVINCE_NAME}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item class="sizemini" no-lines>
      <ion-label> หน่วย : </ion-label>
      <ion-select [(ngModel)]="typeCur" #item (ionChange)="ChangeCurrency(area, Province, typeCur)">
        <ion-option value="B" [selected]="true">บาท</ion-option>
        <ion-option value="M">ล้านบาท</ion-option>
      </ion-select>
    </ion-item>
  <ion-card>
    <ion-card-content no-padding>
      <div class="table-responsive">
        <table class="table" style="width: 100%;">
          <thead>
            <tr style="background-color: #F78B26; ">
              <th width="10%">
                <h3 class="center">ลำดับ</h3>
              </th>
              <th>
                <h3 class="center">กลุ่มสินค้า</h3>
              </th>
              <th width="30%">
                <h3 class="center">ภาษี</h3>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of respondData">
              <td width="10%">
                <h3 class="center">{{data.SORT}}</h3>
              </td>
              <td>
                <h3 class="left">{{data.GROUP_NAME}}</h3>
              </td>
              <td width="30%">
                <h3 class="right">{{data.TAX}}</h3>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </ion-card-content>
  </ion-card>
  </div>
</ion-content>
