
<ion-header>

    <ion-navbar color="navber">
        <ion-title>ตามรายภาค 1 <br>
            ผู้ใช้งาน : {{username}}</ion-title>
      </ion-navbar>
</ion-header>


<ion-content padding text-center [class.disable-scrolling]='isScaling' [style.fontSize]="fontSize">
  <div pinch (pinchstart)="onPinchStart($event)" (pinchend)="onPinchEnd($event)" (pinchmove)="onPinchMove($event)">
 
        <h1 class="header-style">แผนที่แสดงผลการจัดเก็บภาษี ภาค 1</h1>
        <h2 class="header-style">{{dateAsOff}}</h2>
    <img src="https://bimobile.excise.go.th/ExciseMobile/Map/pak1.png"/>

     <!--////////////////////////////////////////////////  Table ////////////////////////////////////////////////////-->
    
      <h1 class="header-style">ตารางแสดงภาษีประจำปีงบประมาณปัจจุบัน ตามจังหวัด</h1>
      <h2 class="header-style">{{dateAsOff}}</h2>
      <h2 class="header-style"> ภาค 01</h2> 
      <ion-item class="sizemini" no-lines>
        <ion-label> หน่วย : </ion-label>
        <ion-select [(ngModel)]="typeCurFirst" #item (ionChange)="ChangeUnitFirst(typeCurFirst)">
          <ion-option value="M" [selected]="true">ล้านบาท</ion-option>
          <ion-option value="B">บาท</ion-option>
        </ion-select>
      </ion-item>
        <ion-card>
          <ion-card-content no-padding>
            <div class="table-responsive">
              <table style="width: 100%;" >
                <thead>
                  <tr style="background-color: #F78B26; ">
                    <th><h3 class='td-center'  [style.fontSize]="fontSize" >จังหวัด</h3></th>
                    <th><h3 class='td-center'  [style.fontSize]="fontSize" >ปีนี้</h3></th>
                    <th><h3 class='td-center'  [style.fontSize]="fontSize" >ปีก่อน</h3></th>
                    <th><h3 class='td-center'  [style.fontSize]="fontSize" >ประมาณการ</h3></th>
                    <th width="15%"><h3 class='td-center'>+/-</h3></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of DataProvince">
                    <td><h3 class='td-left'  [style.fontSize]="fontSize" >{{data.PROVINCE_NAME}}</h3></td>
                    <td><h3 class='td-right'  [style.fontSize]="fontSize" >{{data.TAX}}</h3></td>
                    <td><h3 class='td-right'  [style.fontSize]="fontSize" >{{data.LAST_TAX}}</h3></td>
                    <td><h3 class='td-right'  [style.fontSize]="fontSize" >{{data.ESTIMATE}}</h3></td>
                      <td width="15%">
                        <h3 *ngIf="data.PERCENT_TAX > 5 " class='td-right font-green2'  [style.fontSize]="fontSize" >{{data.PERCENT_TAX}}</h3>
                        <h3 *ngIf="data.PERCENT_TAX <= 5 && data.PERCENT_TAX > 0 " class='td-right font-green'  [style.fontSize]="fontSize" >{{data.PERCENT_TAX}}</h3>
                        <h3 *ngIf="data.PERCENT_TAX < 0 && data.PERCENT_TAX >= -5 " class='td-right font-yellow'  [style.fontSize]="fontSize" >{{data.PERCENT_TAX}}</h3>
                        <h3 *ngIf="data.PERCENT_TAX < -5 " class='td-right font-red'  [style.fontSize]="fontSize" >{{data.PERCENT_TAX}}</h3>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ion-card-content>
        </ion-card>


        <ion-grid>
            <ion-row>
              <ion-col>
                  <ion-item   class="size">
                      <ion-label>จังหวัด : </ion-label>
                          <ion-select  [(ngModel)]="Province" (ionChange)="TableGetData(Province,typeCur)">
                              <ion-option value="undefined"  [selected]="true">ทั้งหมด</ion-option>
                              <ion-option  *ngFor="let item1 of responseProvince"  value="{{item1.PROVINCE_NAME}}">{{item1.PROVINCE_NAME}}</ion-option>            
                        </ion-select>
                    </ion-item>
                </ion-col>
          </ion-row>     
        </ion-grid>

    <h1 class="header-style">ตารางแสดงภาษีประจำปีงบประมาณปัจจุบัน</h1>
    <h2 class="header-style">{{dateAsOff}}</h2>
    <h2 class="header-style"> ภาค 01    {{display_province_fillter}}</h2> 
    <!--<h3 style="padding-right: 2%" class="td-right">หน่วย : ล้านบาท</h3>-->

    <ion-item class="sizemini" no-lines>
      <ion-label> หน่วย : </ion-label>
      <ion-select [(ngModel)]="typeCur"  (ionChange)="ChangeUnit(Province, typeCur)">
        <ion-option value="M" [selected]="true">ล้านบาท</ion-option>
        <ion-option value="B">บาท</ion-option>
      </ion-select>
    </ion-item>

    <ion-card>
      <ion-card-content no-padding>
        
        <div class="table-responsive">
          <table style="width: 100%;" >
            <thead>
              <tr style="background-color: #F78B26; ">
                <th width="10%"><h3 class='th-center' [style.fontSize]="fontSize">เดือน</h3></th>
                <th><h3 class='th-center' [style.fontSize]="fontSize">ปีนี้</h3></th>
                <th><h3 class='th-center' [style.fontSize]="fontSize">ปีก่อน</h3></th>
                <th><h3 class='th-center' [style.fontSize]="fontSize">ประมาณการ</h3></th>
                <th width="15%"><h3 class='th-center' [style.fontSize]="fontSize">+/-</h3></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of DataCurYear">
                <td width="10%"><h3 class='td-center' [style.fontSize]="fontSize">{{data.BUDGET_MONTH_DESC}}</h3></td>
                <td><h3 class='td-right' [style.fontSize]="fontSize">{{data.TAX}}</h3></td>
                <td><h3 class='td-right' [style.fontSize]="fontSize">{{data.LAST_TAX}}</h3></td>
                <td><h3 class='td-right' [style.fontSize]="fontSize">{{data.ESTIMATE}}</h3></td>
            <td width="15%">
                <h3 *ngIf="data.PERCENT_TAX > 5 " class='td-right font-green2' [style.fontSize]="fontSize">{{data.PERCENT_TAX}}</h3>
                <h3 *ngIf="data.PERCENT_TAX <= 5 && data.PERCENT_TAX > 0 " class='td-right font-green' [style.fontSize]="fontSize">{{data.PERCENT_TAX}}</h3>
                <h3 *ngIf="data.PERCENT_TAX < 0 && data.PERCENT_TAX >= -5 " class='td-right font-yellow' [style.fontSize]="fontSize">{{data.PERCENT_TAX}}</h3>
                <h3 *ngIf="data.PERCENT_TAX < -5 " class='td-right font-red' [style.fontSize]="fontSize">{{data.PERCENT_TAX}}</h3>
              </td>
          </tr>
            </tbody>
          </table>
        </div>
      </ion-card-content>
    </ion-card>
  
    <h1 class="header-style">ตารางแสดงภาษีประจำปีงบประมาณปัจจุบัน ตามประเภทสินค้า</h1>
    <h2 class="header-style">{{dateAsOff}}</h2>
    <h2 class="header-style"> ภาค 01    {{display_province_fillter}}</h2> 
      <h3 style="padding-right: 2%" class="desc-right">หน่วย : {{curTG}}</h3>
      <ion-card>
        <ion-card-content no-padding>
          <div class="table-responsive">
            <table style="width: 100%;" >
              <thead>
                <tr style="background-color: #F78B26; ">
                  <th><h3 class='td-center' [style.fontSize]="fontSize">สินค้า</h3></th>
                  <th><h3 class='td-center' [style.fontSize]="fontSize">ปีนี้</h3></th>
                  <th><h3 class='td-center' [style.fontSize]="fontSize">ปีก่อน</h3></th>
                  <th><h3 class='td-center' [style.fontSize]="fontSize">ประมาณการ</h3></th>
                  <th width="15%" ><h3 class='td-center' [style.fontSize]="fontSize">+/-</h3></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of DataProduct">
                  <td><h3 class='td-left' [style.fontSize]="fontSize">{{data.GROUP_NAME}}</h3></td>
                  <td><h3 class='td-right' [style.fontSize]="fontSize">{{data.TAX}}</h3></td>
                  <td><h3 class='td-right' [style.fontSize]="fontSize">{{data.LAST_TAX}}</h3></td>
                  <td><h3 class='td-right' [style.fontSize]="fontSize">{{data.ESTIMATE}}</h3></td>
                    <td width="15%">
                      <h3 *ngIf="data.PERCENT_TAX > 5 " class='td-right font-green2' [style.fontSize]="fontSize" >{{data.PERCENT_TAX}}</h3>
                      <h3 *ngIf="data.PERCENT_TAX <= 5 && data.PERCENT_TAX > 0 " class='td-right font-green' [style.fontSize]="fontSize" >{{data.PERCENT_TAX}}</h3>
                      <h3 *ngIf="data.PERCENT_TAX < 0 && data.PERCENT_TAX >= -5 " class='td-right font-yellow' [style.fontSize]="fontSize">{{data.PERCENT_TAX}}</h3>
                      <h3 *ngIf="data.PERCENT_TAX < -5 " class='td-right font-red' [style.fontSize]="fontSize" >{{data.PERCENT_TAX}}</h3>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ion-card-content>
      </ion-card>
  
  <div>
      <br>
    <h1 class="header-style" [style.fontSize]="fontSize">ตารางแสดงภาษีประจำปีงบประมาณปัจจุบัน ตามสาขา</h1>
    <h2 class="header-style" [style.fontSize]="fontSize">{{dateAsOff}}</h2>
    <h2 class="header-style"> ภาค 01    {{display_province_fillter}}</h2> 
      <h3 style="padding-right: 2%" class="desc-right" [style.fontSize]="fontSize">หน่วย : {{curTG}}</h3>
      <ion-card>
        <ion-card-content no-padding>
          <div class="table-responsive">
            <table style="width: 100%;" >
              <thead>
                <tr style="background-color: #F78B26; ">
                  <th><h3 class='td-center' [style.fontSize]="fontSize" >สาขา</h3></th>
                  <th><h3 class='td-center' [style.fontSize]="fontSize">ปีนี้</h3></th>
                  <th><h3 class='td-center'[style.fontSize]="fontSize">ปีก่อน</h3></th>

                  <th width="15%"><h3 class='td-center'>+/-</h3></th>
                </tr>
              </thead>
              <tbody>
                <!--<td colspan="5">
                    <br><br><br>
                    <h2 style="text-align: center; color: rgb(107, 105, 105)" [style.fontSize]="fontSize" >ไม่มีข้อมูลในฐานข้อมูล</h2>
                    <br><br><br>
                </td>-->
                  <tr *ngFor="let data of DataOverallBranch">
                    <td><h3 class='td-left'  [style.fontSize]="fontSize">{{data.OFFDESC}}</h3></td>
                    <td><h3 class='td-right'  [style.fontSize]="fontSize">{{data.TAX}}</h3></td>
                    <td><h3 class='td-right'  [style.fontSize]="fontSize">{{data.LAST_TAX}}</h3></td>
                      <td width="15%">
                        <h3 *ngIf="data.PERCENT_TAX > 5 " class='td-right font-green2'  [style.fontSize]="fontSize">{{data.PERCENT_TAX}}</h3>
                        <h3 *ngIf="data.PERCENT_TAX <= 5 && data.PERCENT_TAX > 0 " class='td-right font-green'  [style.fontSize]="fontSize">{{data.PERCENT_TAX}}</h3>
                        <h3 *ngIf="data.PERCENT_TAX < 0 && data.PERCENT_TAX >= -5 " class='td-right font-yellow'  [style.fontSize]="fontSize">{{data.PERCENT_TAX}}</h3>
                        <h3 *ngIf="data.PERCENT_TAX < -5 " class='td-right font-red'  [style.fontSize]="fontSize">{{data.PERCENT_TAX}}</h3>
                      </td>
                  </tr> 
              </tbody>
            </table>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  
      <div padding>
          <p class="DataStatus-font"> หมายเหตุ : 
            <br><img class="desc-img-size" src="../../assets/imgs/green2.png" />&nbsp;สูงกว่าประมาณการ 5%
            <br><img class="desc-img-size" src="../../assets/imgs/green1.png" />&nbsp;มากกว่า 0 น้อยกว่า 5%
            <br><img class="desc-img-size" src="../../assets/imgs/yellow1.png" />&nbsp;0 ถึง -5%
            <br><img class="desc-img-size" src="../../assets/imgs/red1.png" />&nbsp;ต่ำกว่าประมาณการ -5%
          </p>
        </div>
        </div>
</ion-content>
