<ion-header>
    <ion-navbar color="navber">
      <ion-title>แยกตามหมวดหมู่</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
      <ion-item style="background-color:#D0DFE6;" text-center>
                <h2 class="header-style">รายงานประมาณการปีงบประมาณ</h2>
     </ion-item>
    

        <ion-item  class="size">
            <ion-label >ปี : </ion-label>
            <ion-select  [(ngModel)]="dataYear"   (ionChange)="getitemsByDate(dataYear)" >
              <ion-option value=""  [selected]="true">ทั้งหมด</ion-option>
              <ion-option  *ngFor="let item of summaryDate"  value="{{item.key}}">{{item.key}}</ion-option>
            </ion-select>
        </ion-item>
        <h3 style="padding-right: 2%" class="right">หน่วย : ล้านบาท</h3>
        <ion-card>
        <ion-card-content no-padding>
          
            <ion-scroll scrollX="true" scrollY="true" width="400px;" height="400px;">
                <div class="table-responsive">
                                <table class="table" style="width: 100%;">
                                  <thead>
                                    <tr style="background-color: #F78B26; ">
                                        <th ><h3 class="table-title">ลำดับ</h3></th>
                                        <th ><h3 class="table-title">กลุ่มสินค้า</h3></th>
                                        <th><h3 class="table-title">ต.ค</h3></th>
                                        <th><h3 class="table-title">พ.ย</h3></th>
                                        <th><h3 class="table-title">ธ.ค</h3></th>
                                        <th><h3 class="table-title">ม.ค</h3></th>
                                        <th><h3 class="table-title">ก.พ</h3></th>
                                        <th><h3 class="table-title">มี.ค</h3></th>
                                        <th><h3 class="table-title">เม.ย</h3></th>
                                        <th><h3 class="table-title">พ.ค</h3></th>
                                        <th><h3 class="table-title">มิ.ย</h3></th>
                                        <th><h3 class="table-title">ก.ค</h3></th>
                                        <th><h3 class="table-title">ส.ค</h3></th>
                                        <th><h3 class="table-title">ก.ย</h3></th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let data of responseData">
                                        <td ><p class="center">{{data.SORT}}</p></td>
                                        <td ><p class="left">{{data.GROUP_NAME}}</p></td>
                                        <td><p class="right">{{data.OCT}}</p></td>
                                        <td><p class="right">{{data.NOV}}</p></td>
                                        <td><p class="right">{{data.DEC}}</p></td>
                                        <td><p class="right">{{data.JAN}}</p></td>
                                        <td><p class="right">{{data.FAB}}</p></td>
                                        <td><p class="right">{{data.MAR}}</p></td>
                                        <td><p class="right">{{data.APR}}</p></td>
                                        <td><p class="right">{{data.MAY}}</p></td>
                                        <td><p class="right">{{data.JUN}}</p></td>
                                        <td><p class="right">{{data.JUL}}</p></td>
                                        <td><p class="right">{{data.AUG}}</p></td>
                                        <td><p class="right">{{data.SEP}}</p></td>
                                </tr>
                        </tbody>
                </table>
            </div> 
          </ion-scroll> 

        </ion-card-content>
      </ion-card>
  
  </ion-content>
  