<ion-header>
    <ion-navbar color="primary">
      <ion-title>แยกตามหมวดหมู่</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content> 
      <ion-item  style="background-color:#D0DFE6;font-size: 20px;" text-center>
          <h2>รายงานประมาณการปีงบประมาณ</h2>
      </ion-item>
     <ion-card>

        <ion-item>
            <ion-label  text-center>ปี : </ion-label>
            <ion-select  [(ngModel)]="dataYear"   (ionChange)="getDashboardItemsByDate(dataYear)" >
              <ion-option  *ngFor="let item of summaryDate"  value="{{item.value}}">{{item.key}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-card-content no-padding>
      
                    <div class="table-responsive">     
                        <table class="table">
                                <thead>
                                        <tr>
                                                <th text-center>ลำดับ</th>
                                                <th>กลุ่มสินค้า</th>
                                                <th>ต.ค</th>
                                                <th>พ.ย</th>
                                                <th>ธ.ค</th>
                                                <th>ม.ค</th>
                                                <th>ก.พ</th>
                                                <th>ม.ค</th>
                                                <th>เม.ย</th>
                                                <th>พ.ค</th>
                                                <th>มิ.ย</th>
                                                <th>ก.ค</th>
                                                <th>ส.ค</th>
                                                <th>ก.ย</th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr *ngFor="let data of responseData">
                                                <td text-center>{{data.SORT}}</td>
                                                <td><p>{{data.GROUP_NAME}}</p></td>
                                                <td><p>{{data.OCT | number : fractionSize}}</p></td>
                                                <td><p>{{data.NOV | number : fractionSize}}</p></td>
                                                <td><p>{{data.DEC | number : fractionSize}}</p></td>
                                                <td><p>{{data.JAN | number : fractionSize}}</p></td>
                                                <td><p>{{data.FAB | number : fractionSize}}</p></td>
                                                <td><p>{{data.MAR | number : fractionSize}}</p></td>
                                                <td><p>{{data.APR | number : fractionSize}}</p></td>
                                                <td><p>{{data.MAY | number : fractionSize}}</p></td>
                                                <td><p>{{data.JAN| number : fractionSize}}</p></td>
                                                <td><p>{{data.JUL | number : fractionSize}}</p></td>
                                                <td><p>{{data.AUG | number : fractionSize}}</p></td>
                                                <td><p>{{data.SEP | number : fractionSize}}</p></td>
                                        </tr>
                                </tbody>
                        </table>
                    </div>  
        </ion-card-content>
      </ion-card>
  
  </ion-content>
  