page-tax-year-by-product {
  table, th, td, tr {
    border: 1px solid #ffffff;
    border-collapse: collapse;
    table-layout: fixed;
    
  }
  table tbody tr:nth-child(odd) {
    background-color: rgb(250, 220, 137) !important;
  }
  table tbody tr:nth-child(even) {
    background-color: rgb(255, 255, 255) !important;
  }
  .td-center{
    font-weight: bold;
    color: rgb(27, 15, 15) !important;
    font-size: 3vw !important;
    text-align: center;
  }
  .td-right{
    font-weight: bold;
    color: black !important;
    font-size: 3vw !important;
    text-align: right !important;
  }
  .img-size{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .td-left {
    font-weight: bold;
    color: black !important;
    font-size: 3vw !important;
    text-align: left !important;
    
  }
  
  .th-center{
    font-weight: bold;
    color: rgb(27, 15, 15) !important;
    font-size: 3vw !important;
    text-align: center !important;
  }
  h1.header-style{
    font-weight: bold;
    color: black !important;
    font-size: 4vw !important;
    text-align: center !important;
  }
  h2.header-style{
    color: black !important;
    font-size: 3vw !important;
    text-align: center !important;
  }
  .DataStatus-font{
    font-weight: bold;
    color: rgb(29, 97, 160) !important;
    font-size: 3vw !important;
    text-align: left !important;
  }
  .desc-img-size{
    width: 2%;
  }

  /* ion-select {
    max-width: 80% !important;
      white-space: normal !important;
      
      max-width: 100%!important;
      width: 100%!important;
      right: auto!important;
      direction: ltr!important;
      padding-left: 0!important;
    }
    ion-item.ion-label {
      max-width: 7vw !important;
      border: solid;
    } */
}

