table, th , td  {
    border: 0px solid #ffffff !important; 
    border-collapse: collapse;
  }
  table tbody tr:nth-child(odd) {
    background-color: #fbecc4 !important; 
  }
  table tbody tr:nth-child(even) {
    background-color:#fff !important;
  }
  .head{
    background-color:#ffffff !important;
  }
  