<ion-header>
  <ion-navbar color="navber">

    <ion-title>ผลการจัดเก็บภาษีกรมสรรพสามิต</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding text-center>
  <h2>
    <strong>แผนที่แสดงผลการจัดเก็บภาษี</strong>
  </h2>
  <h3>
    ตั้งแต่ต้นปีงบประมาณ ถึงปัจจุบัน
  </h3>

  <div *ngIf="offcode=='00' ">
    <img src="../../assets/imgs/thailandhello1.png" />
    <h2>
      <strong>ตามรายภาค</strong>
    </h2>
    <button ion-button (click)="section1()">ภาค 1</button>
    <button ion-button (click)="section2()">ภาค 2</button>
    <button ion-button (click)="section3()">ภาค 3</button>
    <button ion-button (click)="section4()">ภาค 4</button>
    <button ion-button (click)="section5()">ภาค 5</button>
    <button ion-button (click)="section6()">ภาค 6</button>
    <button ion-button (click)="section7()">ภาค 7</button>
    <button ion-button (click)="section8()">ภาค 8</button>
    <button ion-button (click)="section9()">ภาค 9</button>
    <button ion-button (click)="section10()">ภาค 10</button>
  </div>

  <div *ngIf="offcode!='00' ">
      <img src="../../assets/imgs/pak{{offcode}}.png" />
  </div>

  <!--/////////////////////////////// Gauge ///////////////////////////////////////////////-->
  <br>
  <h2>
    <strong>Gauge ภาษีประจำเดือนแต่ละพื้นที่</strong>
  </h2>
  <!--
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label text-center>เดือน : </ion-label>
          <ion-select [(ngModel)]="summaryDate" #item (ionChange)="getDashboardItemsByDate(item.value)">
            <ion-option value="1">มกราคม</ion-option>
            <ion-option value="2">กุมภาพันธ์</ion-option>
            <ion-option value="3">มีนาคม</ion-option>
            <ion-option value="4">เมษายน</ion-option>
            <ion-option value="5">พฤษภาคม</ion-option>
            <ion-option value="6">มิถุนายน</ion-option>
            <ion-option value="7">กรกฎาคม</ion-option>
            <ion-option value="8">สิงหาคม</ion-option>
            <ion-option value="9">กันยายน</ion-option>
            <ion-option value="10">ตุลาคม</ion-option>
            <ion-option value="11">พฤศจิกายน</ion-option>
            <ion-option value="12">ธันวาคม</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label text-center>ภาค : </ion-label>
          <ion-select [(ngModel)]="summaryDate" #item (ionChange)="getDashboardItemsByDate(item.value)">
            <ion-option value="1">ภาค1</ion-option>
            <ion-option value="1">ภาค2</ion-option>
            <ion-option value="1">ภาค3</ion-option>
            <ion-option value="1">ภาค4</ion-option>
            <ion-option value="1">ภาค5</ion-option>
            <ion-option value="1">ภาค6</ion-option>
            <ion-option value="1">ภาค7</ion-option>
            <ion-option value="1">ภาค8</ion-option>
            <ion-option value="1">ภาค9</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
-->

  <ion-card>
    <ion-card-content>

      <ion-item>
        <span ion-text color="primary">ปีนี้</span>
        <hr/>
      </ion-item>


      <canvas data-type="radial-gauge" data-width="300" data-height="300" data-units="Km/h" data-min-value="0" data-start-angle="90"
        data-ticks-angle="180" data-value-box="false" data-max-value="220" data-major-ticks="0,20,40,60,80,100,120,140,160,180,200,220"
        data-minor-ticks="2" data-stroke-ticks="true" data-highlights='[
                          {"from": 160, "to": 220, "color": "rgba(200, 50, 50, .75)"}
                      ]' data-color-plate="#fff" data-border-shadow-width="0" data-borders="false" data-needle-type="arrow"
        data-needle-width="2" data-needle-circle-size="7" data-needle-circle-outer="true" data-needle-circle-inner="false"
        data-animation-duration="1500" data-animation-rule="linear"></canvas>



    </ion-card-content>
  </ion-card>

  <!--////////////////////////////////////////////////  Table ////////////////////////////////////////////////////-->
  <h2>
    <strong>ตารางแสดงภาษีประจำปีงบประมาณปัจจุบัน</strong>
  </h2>
  <h3 style="padding-right: 2%" class="desc-right">หน่วย : ล้านบาท</h3>
  <ion-card>
    <ion-card-content no-padding>
      <div class="table-responsive">
        <table style="width: 100%;" >
          <thead>
            <tr style="background-color: #F78B26; ">
              <th><h3 class='th-center'>เดือน</h3></th>
              <th><h3 class='th-center'>ปีนี้</h3></th>
              <th><h3 class='th-center'>ปีก่อน</h3></th>
              <th><h3 class='th-center'>ประมาณการ</h3></th>
              <th  width="10%"><h3 class='th-center'>+/-</h3></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of responseData">
              <td><h3 class='td-left'>{{data.BUDGET_MONTH_DESC}}</h3></td>
              <td><h3 class='td-right'>{{data.TAX}}</h3></td>
              <td><h3 class='td-right'>{{data.LAST_TAX}}</h3></td>
              <td><h3 class='td-right'>{{data.ESTIMATE}}</h3></td>
          <td width="10%">
            <h3 *ngIf="data.MAP_COLOR == 1" class='td-center'>
              <img class="img-size" src="../../assets/imgs/red1.png" />
            </h3>
            <h3 *ngIf="data.MAP_COLOR == 2 " class='td-center'>
              <img class="img-size" src="../../assets/imgs/yellow1.png" />
            </h3>
            <h3 *ngIf="data.MAP_COLOR == 3 " class='td-center'>
              <img class="img-size" src="../../assets/imgs/green1.png" />
            </h3>
            <h3 *ngIf="data.MAP_COLOR == 4 " class='td-center'>
              <img class="img-size" src="../../assets/imgs/green2.png" />
            </h3>
          </td>           
        </tr>
          </tbody>
        </table>
      </div>
    </ion-card-content>
  </ion-card>

  <h2>
      <strong>ตารางแสดงภาษีประจำปีงบประมาณปัจจุบัน ตามประเภทสินค้า</strong>
    </h2>
    <h3 style="padding-right: 2%" class="td-right">หน่วย : ล้านบาท</h3>
    <ion-card>
      <ion-card-content no-padding>
        <div class="table-responsive">
          <table style="width: 100%;" >
            <thead>
              <tr style="background-color: #F78B26; ">
                <th><h3 class='td-center'>สินค้า</h3></th>
                <th><h3 class='td-center'>ปีนี้</h3></th>
                <th><h3 class='td-center'>ปีก่อน</h3></th>
                <th><h3 class='td-center'>ประมาณการ</h3></th>
                <th width="10%"><h3 class='td-center'>+/-</h3></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of DataProduct">
                <td><h3 class='td-left'>{{data.GROUP_NAME}}</h3></td>
                <td><h3 class='td-right'>{{data.TAX}}</h3></td>
                <td><h3 class='td-right'>{{data.LAST_TAX}}</h3></td>
                <td><h3 class='td-right'>{{data.ESTIMATE}}</h3></td>
                <td width="10%">
                    <h3 *ngIf="data.MAP_COLOR == 1" class='td-center'>
                      <img class="img-size" src="../../assets/imgs/red1.png" />
                    </h3>
                    <h3 *ngIf="data.MAP_COLOR == 2 " class='td-center'>
                      <img class="img-size" src="../../assets/imgs/yellow1.png" />
                    </h3>
                    <h3 *ngIf="data.MAP_COLOR == 3 " class='td-center'>
                      <img class="img-size" src="../../assets/imgs/green1.png" />
                    </h3>
                    <h3 *ngIf="data.MAP_COLOR == 4 " class='td-center'>
                      <img class="img-size" src="../../assets/imgs/green2.png" />
                    </h3>
                  </td>         
              </tr>
            </tbody>
          </table>
        </div>
      </ion-card-content>
    </ion-card>
  
</ion-content>
