<ion-header>
  <ion-navbar color="navber">
    <ion-title>สถิติและปราบปราม</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-item style="background-color:#D0DFE6;font-size: 20px;" text-center>
        <h2 class="header-style">สถิติคดีตามพื้นที่</h2>
</ion-item>

<ion-card>
        <ion-card-content no-padding>
                <ion-item>
                        <ion-label><strong>สถิติคดีตามพื้นที่</strong></ion-label>
                </ion-item>

                <div class="table-responsive">     
                       <table class="table" style="width: 100%;">
                               <thead>
                                       <tr style="background-color: #F78B26; ">
                                               <th width="30%"><h3 class="center">พื้นที่</h3></th>
                                               <th><h3 class="center">จำนวนคดี</h3></th>
                                               <th><h3 class="center">ค่าปรับ</h3></th>
                                               <th><h3 class="center">เป้าจำนวนคดี</h3></th>
                                               <th><h3 class="center">เป้าค่าปรับ</h3></th>
                                               <th><h3 class="center">เงินส่งคลัง</h3></th>
                                       </tr>
                               </thead>
                               <tbody>
                                       <tr *ngFor="let data of responseData">
                                               <td width="30%"><h3 class="left">{{data.REGION_DESC}}</h3></td>
                                               <td><h3 class="right">{{data.LAW_QTY}}</h3></td>
                                               <td><h3 class="right">{{data.TARGET_QTY}}</h3></td>
                                               <td><h3 class="right">{{data.LAW_AMT}}</h3></td>
                                               <td><h3 class="right">{{data.TARGET_AMT}}</h3></td>
                                               <td><h3 class="right">{{data.TREASURY_MONEY}}</h3></td>
                                       </tr>
                               </tbody>
                       </table>
                </div>
       </ion-card-content>
     </ion-card>

    <ion-card>
             <ion-card-content  no-padding>
                        <ion-item>
                                <ion-label><strong>สถิติคดีตามสินค้า</strong></ion-label>
                        </ion-item>

                        <ion-grid>
                                <ion-row>
                                        <ion-col>
                                        <ion-item  class="size">
                                        <ion-label> ภาค : </ion-label>
                                                <ion-select  [(ngModel)]="area" (ionChange)="getitemsRegion(area)" >
                                                        <ion-option value="undefined"  [selected]="true">ทั้งหมด</ion-option>
                                                        <ion-option  *ngFor="let item of responseArea"  value="{{item.REGION_NAME}}">{{item.REGION_NAME}}</ion-option>              
                                                </ion-select>
                                        </ion-item>
                                        </ion-col>
                                        <ion-col>
                                                <ion-item  class="size">
                                                        <ion-label>จังหวัด : </ion-label>
                                                        <ion-select  [(ngModel)]="province" (ionChange)="getitemsProvince(area,province,group_name)">
                                                        <ion-option value="undefined"  [selected]="true">ทั้งหมด</ion-option >
                                                                <ion-option  *ngFor="let item1 of responseProvince"  value="{{item1.PROVINCE_NAME}}">{{item1.PROVINCE_NAME}}</ion-option>            
                                                        </ion-select>
                                                </ion-item>
                                        </ion-col>
                                </ion-row>
                        
                                <ion-row>
                                        <ion-col>
                                        <ion-item  class="size">
                                        <ion-label>กลุ่มสินค้า : </ion-label>
                                        <ion-select  [(ngModel)]="group_name"   (ionChange)="getitemsGroupName(area,province,group_name)" >
                                                <ion-option value="undefined"  [selected]="true">ทั้งหมด</ion-option>
                                                <ion-option  *ngFor="let item2 of responseGroupName"  value="{{item2.GROUP_DESC}}">{{item2.GROUP_DESC}}</ion-option>          
                                        </ion-select>
                                        </ion-item>
                                        </ion-col>  
                                        <ion-col>
                                </ion-col>
                            </ion-row>
                        </ion-grid>

       
                        <h3 style="padding-right: 2%" class="desc-right">หน่วย : คดี/ล้านบาท</h3>
                        <div class="table-responsive">     
                                <table class="table" style="width: 100%;">
                                        <thead>
                                                <tr style="background-color: #F78B26; ">                    
                                                        <th><h3 class="center">ประเภท</h3></th>
                                                        <th><h3 class="center">จำนวนคดี</h3></th>
                                                        <th><h3 class="center">ค่าปรับ</h3></th>
                                                        <th><h3 class="center">เป้าจำนวนคดี</h3></th>
                                                        <th><h3 class="center">เป้าค่าปรับ</h3></th>
                                                        <th><h3 class="center">เงินส่งคลัง</h3></th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                                <tr *ngFor="let data of repondProduct">       
                                                        <td><h3 class="left">{{data.TYPE_DESC}}</h3></td>
                                                        <td><h3 class="right">{{data.LAW_QTY}}</h3></td>
                                                        <td><h3 class="right">{{data.LAW_AMT}}</h3></td>
                                                        <td><h3 class="right">{{data.TARGET_QTY}}</h3></td>
                                                        <td><h3 class="right">{{data.TARGET_AMT}}</h3></td>
                                                        <td><h3 class="right">{{data.TREASURY_MONEY}}</h3></td>
                                                </tr>
                                        </tbody>
                                </table>
                        </div>
             </ion-card-content>
     </ion-card>

</ion-content>
