page-home {
  .header-style {
    width: 100% !important;
    height: 20% !important;
    text-align: center;
    margin: auto;
  }
  .header-title {
    font-weight: bold;
    color: black !important;
    font-size: 9vw !important;
    text-align: center !important;
  }
  .icon-krom-style {
    width: 28%;
    height: auto;
  }
  .icon-menu-style {
    width: 80%;
    height: auto;
    margin: auto;
  }
  .content-center {
    font-weight: bold;
    color: rgb(27, 15, 15) !important;
    font-size: 6vw !important;
    margin: auto;
  }
  header {
    display: table;
    width: 100%;
    max-width: 100%;
  }
  header div {
    display: table-row;
    line-height: 1.5em;
    white-space: nowrap;
  }
  header h1 {
    font-size: 6vw !important;
    /* Change font-size in header */
    overflow: hidden;
    display: table-cell;
    width: 1px;
    table-layout: fixed;
  }
  header span.spacer {
    display: table-cell;
  }
  header h1 {
    font-weight: bold;
    padding: 0 10px;
  }
  header span.spacer:after {
    display: inline-block;
    width: 100%;
    content: ".";
    font-size: 0;
    color: transparent;
    height: 2px;
    background: rgb(196, 196, 196);
    vertical-align: middle;
    position: relative;
    top: -1px;
  }
  #rounded {
    width: 100%;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  #container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  ion-input.box-style {
    border: solid 0.5px #e0e0e0;
    background-color: #ffffff ;
    font-size: 5vw !important;
  }
  button p.content-center{
    font-weight: bold;
    color: rgb(255, 255, 255) !important;
    font-size: 6vw !important;
    margin: auto;
  }
  .box{
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: bold;
    font-size: 6vw;
    padding: 2%;
    
 }
}
