page-home {
    ion-content{
        background-color: rgb(252, 241, 241) !important;
        font-size: 40px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    img{
       align-content: center;
    }
}
