page-old-report-follow-product-group {
    .iconStyle{
        width: 60%;
        height: auto;
        margin: auto;
        
    }     
    .bg{
        background-image: url('../../assets/imgs/titlebar2.png');
        background-size: cover !important;
     }

     ion-header{
        ion-navbar{
            div.toolbar-background{
                 background-image: url('../../assets/imgs/titlebar2.png');
                 background-repeat: no-repeat;
                 background-size:cover;
                 text-align: center;
            }
        }
    }  

    h1.header-style{
        font-weight: bold;
        color: black !important;
        font-size: 4vw !important;
        text-align: center !important;
      }
      h2.header-style{
        font-weight: bold;
        color: black !important;
        font-size: 4vw !important;
        text-align: left !important;
      }

    .shelf {
    
        margin: -100px auto 0;
    
    }
    .shelf {
    
        display: block;
        z-index: 3;
        position: relative;
        width: 100%;
        height: 40px;
        margin: -128px auto 0;
        background-image: -moz-linear-gradient(90deg, #d1d8de 0%, #eff1f3 100%);
        background-image: -webkit-gradient(90deg, left top, right bottom, color-stop(0%, #d1d8de), color-stop(100%, #eff1f3)) !important;
        background-image: -webkit-linear-gradient(90deg, #d1d8de 0%, #eff1f3 100%) !important;
        background-image: -o-linear-gradient(90deg, #d1d8de 0%, #eff1f3 100%) !important;
        background-image: -ms-linear-gradient(90deg, #d1d8de 0%, #eff1f3 100%) !important;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff1f3', endColorstr='#d1d8de', GradientType='0' );
        -webkit-box-shadow: 0 2px 2px #708698, 0 4px 0 #abb8c3, 0 20px 30px -8px #000000, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0 !important;
        -moz-box-shadow: 0 2px 2px #708698, 0 4px 0 #abb8c3, 0 20px 30px -8px #000000, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0 !important;
        box-shadow: 0 2px 2px #708698, 0 4px 0 #abb8c3, 0 20px 30px -8px #000000, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0 !important;
    }
    
   
}
