<ion-header>
    <ion-navbar color="navber">
      <ion-title>กราฟเปรียบเทียบกับปีก่อน</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
      <h2 class="header-style">ตั้งแต่วันที่ .........</h2>
    <ion-card>
  
      <ion-card-content>
        <h2 class="header-style">กราฟเปรียบเทียบภาษีปีก่อน (สุรา)</h2>
        <div *ngIf="textDataNotValid=='0' ">
          <br><br><br><br>
          <h2 style="text-align: center; color: rgb(107, 105, 105)">ไม่มีข้อมูลในฐานข้อมูล</h2>
          <br><br><br><br>
        </div>
        <div *ngIf="textDataNotValid!='0' ">
          <canvas #LineCanvasTax></canvas>
        </div>
  
  
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-content>
        <h2 class="header-style">กราฟเปรียบเทียบปริมาณปีก่อน (สุรา)</h2>
        <div *ngIf="textDataNotValid=='0' ">
          <br><br><br><br>
          <h2 style="text-align: center; color: rgb(107, 105, 105)">ไม่มีข้อมูลในฐานข้อมูล</h2>
          <br><br><br><br>
        </div>
        <div *ngIf="textDataNotValid!='0' ">
          <canvas #LineCanvasVol></canvas>
        </div>
      </ion-card-content>
    </ion-card>
  
  </ion-content>
  