page-welcome {
   
 img.img-size{
    height: 90%;
    width: auto;
 }
 .nav-login{

    font-size: 2em;
    color: rgb(32, 91, 201);
    text-decoration: underline;
    
 }
 .bg{
    background-image: url('../../assets/imgs/WelcomeBG.png');
    background-size: cover !important;
 }
.middle-on-screen{
    padding-top: 4em;
    height: 100%; 
}
 
}
