page-welcome {
   
 img.size{
    height: 95%;
    width: auto;
 }
 button{
    width: 350px;
    height: 20%;
    text-align: center;
    font-weight: bold;
    //font-size: 2em !important;
    font-size: 5.9vw;
    
 }
 .bg{
    background-image: url('../../assets/imgs/WelcomeBG.png');
    background-size: cover !important;
 }

 
}
