page-menu-group-old-report {
    ion-col {
        border: think solid black;
        }
        p{
            text-align: center;
        }
        .iconStyle{
            width: 60%;
            height: auto;
            margin: auto;
            
        }   
        .content-center{
            font-weight: bold;
            color: rgb(27, 15, 15) !important;
            font-size: 4vw !important;
            margin: auto;
        }
        .shelf-title{
            font-weight: bold;
            color: black !important;
            font-size: 5vw !important;
            text-align: left !important;
        }
}
