<ion-header>
  <ion-navbar color="navber">
    <ion-title>ตามรายสินค้า<br>
      ผู้ใช้งาน : {{username}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [class.disable-scrolling]='isScaling' [style.fontSize]="fontSize">

  <ion-item style="background-color:#D0DFE6;" text-center>
    <h1 class="header-style">รายงานการเปรียบเทียบปีก่อน (รถยนต์)</h1>   
  </ion-item>

  <div style="border-bottom: solid 1px #2c95eb ; background-color: rgb(213, 241, 241); ">
    <ion-item (click)="toggleLineShow()" no-lines>
      <ion-label class="toggleLabel"> >> กราฟเปรียบเทียบภาษีปีก่อน (รถยนต์)</ion-label>
    </ion-item>
  </div>

  <div *ngIf="toggleLine==1">
    <div pinch (pinchstart)="onPinchStart($event)" (pinchend)="onPinchEnd($event)" (pinchmove)="onPinchMove($event)">
      <ion-card>
        <ion-card-content>
          <h2 class="header-style" >กราฟเปรียบเทียบภาษีปีก่อน (รถยนต์)</h2>
          <h2 class="header-style">{{dateAsOffLine}}</h2>
          <ion-item class="size">
            <ion-label>กลุ่มสินค้า : </ion-label>
            <ion-select [(ngModel)]="TYPE_DESC" (ionChange)="getLineTaxData(TYPE_DESC)" class="itemStyle">
              <ion-option value="" [selected]="true">ทั้งหมด</ion-option>
              <ion-option *ngFor="let data of ProductType" value="{{data.I_TYPE_DESC}}">
                {{data.I_TYPE_DESC}}
              </ion-option>
            </ion-select>
          </ion-item>
         <!--  <ion-item class="sizemini" no-lines>
            <ion-label> หน่วย : </ion-label>
            <ion-select [(ngModel)]="typeCurLine" #item (ionChange)="getLineTaxData(typeCurLine, TYPE_DESC)">
              <ion-option value="M" [selected]="true">ล้านบาท</ion-option>
              <ion-option value="B">บาท</ion-option>
            </ion-select>
          </ion-item> -->
          <div *ngIf="textDataNotValid=='0' " >
            <br>
            <br>
            <br>
            <br>
            <h2 style="text-align: center; color: rgb(107, 105, 105)">ไม่มีข้อมูลในฐานข้อมูล</h2>
            <br>
            <br>
            <br>
            <br>
          </div>
          <div *ngIf="textDataNotValid!='0' ">
            <canvas #LineCanvasTax ></canvas>
          </div>

        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div style="border-bottom: solid 1px #2c95eb ; background-color: rgb(213, 241, 241)">
    <ion-item (click)="toggleTableShow()" no-lines>
      <ion-label class="toggleLabel"> >> ตารางเปรียบเทียบภาษีปีก่อน (รถยนต์)</ion-label>
    </ion-item>
  </div>
  <div *ngIf="toggleTable==1">

    <div pinch (pinchstart)="onPinchStart($event)" (pinchend)="onPinchEnd($event)" (pinchmove)="onPinchMove($event)">
      <ion-grid no-padding>
            <ion-row>
              <ion-col>
                <ion-item class="size">
                  <ion-label> เดือน : </ion-label>
                  <ion-select [(ngModel)]="month_from"  (ionChange)="getTableData(area,Province, typeCur,month_from,month_to)">
                    <ion-option *ngFor="let item3 of ResponseMthFrom"  value="{{item3.BUDGET_MONTH_CD}}"  [selected]="select_mth_from == item3.BUDGET_MONTH_CD">{{item3.MONTH_DESC}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item class="size">
                  <ion-label> ถึง: </ion-label>
                  <ion-select [(ngModel)]="month_to" (ionChange)="getTableData(area,Province, typeCur,month_from,month_to)">
                    <ion-option  *ngFor="let item4 of ResponseMthTo"  value="{{item4.BUDGET_MONTH_CD}}"  [selected]="select_mth_to == item4.BUDGET_MONTH_CD">{{item4.MONTH_DESC}}</ion-option>
                  </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="size">
              <ion-label> ภาค : </ion-label>
              <ion-select [(ngModel)]="area" (ionChange)="selectionProvince(area,Province, typeCur,month_from,month_to)" disabled={{isEnable}}>
                <ion-option value="undefined" [selected]="select_all_value">ทั้งหมด</ion-option>
                <ion-option *ngFor="let item of responseArea" value="{{item.REGION_NAME}}" [selected]="select_region == item.REGION_NAME">{{item.REGION_NAME}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item class="size">
              <ion-label>จังหวัด : </ion-label>
              <ion-select [(ngModel)]="Province" (ionChange)="getTableData(area,Province, typeCur,month_from,month_to)" disabled={{isEnableProv}}>
                <ion-option value="undefined" [selected]="select_all_prov_value">ทั้งหมด</ion-option>
                <ion-option *ngFor="let item1 of responseProvince" value="{{item1.PROVINCE_NAME}}" [selected]="select_province == item1.PROVINCE_NAME">{{item1.PROVINCE_NAME}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <h2 class="header-style" >รายงานเปรียบเทียบภาษีปีก่อน แยกตามประเภทสินค้า (รถยนต์)</h2>
      <h2 class="header-style"> {{dateAsOff}}</h2>
      <ion-item class="sizemini" no-lines>
        <ion-label> หน่วย : </ion-label>
        <ion-select [(ngModel)]="typeCur" #item (ionChange)="getTableData(area, Province, typeCur,month_from,month_to)">
          <ion-option value="M" [selected]="true">ล้านบาท</ion-option>
          <ion-option value="B">บาท</ion-option>
        </ion-select>
      </ion-item>
      <ion-card>
        <ion-card-content no-padding>
          <div class="table-responsive">
            <table class="table" style="width: 100%;">
              <thead>
                <tr style="background-color: #F78B26; ">
                  <th width="30%">
                    <h3 class="th-center" [style.fontSize]="fontSize">กลุ่มสินค้า</h3>
                  </th>
                  <th>
                    <h3 class="th-center" [style.fontSize]="fontSize">ปีนี้</h3>
                  </th>
                  <th>
                    <h3 class="th-center" [style.fontSize]="fontSize">ปีก่อน</h3>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of responseData">
                  <td width="30%">
                    <h3 class="td-left" [style.fontSize]="fontSize">{{data.I_TYPE_DESC}}</h3>
                  </td>
                  <td>
                    <h3 class="td-right" [style.fontSize]="fontSize">{{data.TOTAL_TAX_AMT}}</h3>
                  </td>
                  <td>
                    <h3 class="td-right" [style.fontSize]="fontSize">{{data.LAST_TOTAL_TAX_AMT}}</h3>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ion-card-content>
      </ion-card>

      <h2 class="header-style">รายงาน Top 10 ผู้ประกอบการปีงบประมาณ (รถยนต์)</h2>
      <h2 class="header-style"> {{dateAsOff}}</h2>
      <h2 class="header-style"> {{display_region_top10}}     {{display_province_top10}}</h2> 
           
      <h3 style="padding-right: 2%" class="desc-right">หน่วย : {{curTG}}</h3>
      <ion-card>
        <ion-card-content no-padding>
          <div class="table-responsive">
            <table class="table" style="width: 100%;">
              <thead>
                <tr style="background-color: #F78B26; ">
                  <th width="10%">
                    <h3 class="th-center" [style.fontSize]="fontSize">ลำดับ</h3>
                  </th>
                  <th>
                    <h3 class="th-center" [style.fontSize]="fontSize">ผู้ประกอบการ</h3>
                  </th>
                  <th width="30%">
                    <h3 class="th-center" [style.fontSize]="fontSize">ภาษีปีนี้</h3>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of responseRegData">
                  <td width="10%">
                    <h3 class="td-center" [style.fontSize]="fontSize">{{data.SORT}}</h3>
                  </td>
                  <td>
                    <h3 class="td-left" [style.fontSize]="fontSize">{{data.REG_NAME}}</h3>
                  </td>
                  <td width="30%">
                    <h3 class="td-right" [style.fontSize]="fontSize">{{data.TAX}}</h3>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </ion-card-content>

      </ion-card>
      <div padding>
          <div *ngIf="eecMarkShow==1" >
              <h5  class="DataStatus-font"  > หมายเหตุ* : <br>
                  <span >ภาค EEC ได้แก่ 
                      <span *ngFor="let eecmark of responseProvince; let isLast=last" >
                          {{eecmark.PROVINCE_NAME}}{{isLast ? '' : ', '}}
                       </span>
                      </span>
                </h5>  
          </div>
        </div>
    </div>
  </div>

</ion-content>
