page-compare-tax-est-beer {
    ion-item.size{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
        color: black ;
        font-size: 4vw ;
      }
}
