page-zone4 {
    svg{
        width: 80%;
        height: 45%;
        margin: 0 auto;
        display: block;
      }
      .color1 path{ fill:#0ffafa; }
      .color2 path{ fill:#320ae9; }
      .color3 path{ fill:#23e011; }
      .color4 path{ fill:#d11717; }
      .color5 path{ fill:#e1f018; }

}
