<ion-header>
    <ion-navbar color="navber">
      <ion-title>ใบอนุญาต</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-item style="background-color:#D0DFE6;" text-center>
        <h2 class="header-style">สถิติใบอนุญาตแยกตามร้านค้า</h2>
      </ion-item>
      <ion-item>
          <ion-label text-center><strong>{{dateAsOff}}</strong></ion-label>
      </ion-item>
    <h3 style="padding-right: 2%" class="right">หน่วย : ราย/ใบ</h3>
    <ion-card>
      <ion-card-content no-padding>
        <div class="table-responsive">
          <table class="table" style="width: 100%;">
            <thead>
              <tr style="background-color: #F78B26; "  class="solid-head">
                <th width="20%" rowspan="2"><h3 class="center">หน่วยงาน</h3></th>
                <th rowspan="2"><h3 class="center">จำนวนราย</h3></th>
                <th colspan="4"><h3 class="center">ใบอนุญาต</h3></th>
              </tr>
              <tr style="background-color: #F78B26; ">
                  <th><h3 class="center">สุรา</h3></th>
                  <th><h3 class="center">ยาสูบ</h3></th>
                  <th><h3 class="center">ไพ่</h3></th>
                  <th><h3 class="center">รวม</h3></th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of responseData">
                <td width="20%"><h3 class="center">{{data.REGION_DESC}}</h3></td>
                <td> <h3 class="right">{{data.COUNT_REG}}</h3></td>
                <td> <h3 class="right">{{data.NUM_OF_LIC_SURA}}</h3></td>
                <td><h3 class="right">{{data.NUM_OF_LIC_TOBBACO}}</h3></td>
                <td><h3 class="right">{{data.NUM_OF_LIC_CARD}}</h3></td>
                <td><h3 class="right">{{data.TOTAL_LIC}}</h3></td>
              </tr>
                <tr *ngFor="let data of responseSumData">
                  <td width="20%"><h3 class="center">รวม</h3></td>
                  <td> <h3 class="right">{{data.COUNT_REG}}</h3></td>
                  <td> <h3 class="right">{{data.NUM_OF_LIC_SURA}}</h3></td>
                  <td><h3 class="right">{{data.NUM_OF_LIC_TOBBACO}}</h3></td>
                  <td><h3 class="right">{{data.NUM_OF_LIC_CARD}}</h3></td>
                  <td><h3 class="right">{{data.TOTAL_LIC}}</h3></td>
                </tr>
            </tbody>
          </table>
        </div>
  
      </ion-card-content>
    </ion-card>
  
  </ion-content>
  