<ion-header>
  <ion-navbar color="navber">
    <ion-title>ใบอนุญาต<br>
      ผู้ใช้งาน : {{username}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [class.disable-scrolling]='isScaling' [style.fontSize]="fontSize">
  <div pinch (pinchstart)="onPinchStart($event)" (pinchend)="onPinchEnd($event)" (pinchmove)="onPinchMove($event)">
    <ion-item style="background-color:#D0DFE6;" text-center>
      <h2 class="header-style">สถิติใบอนุญาตแยกตามราย</h2>
      <h2 class="header-style">{{dateAsOff}}</h2>
    </ion-item>

    <ion-grid>
        <ion-row>
                <ion-col>
                  <ion-item class="size">
                    <ion-label> เดือน : </ion-label>
                    <ion-select [(ngModel)]="month_from"  (ionChange)="SelectMonthFrom(typeCur,month_from,month_to)">
                        <ion-option *ngFor="let item3 of ResponseMthFrom"  value="{{item3.BUDGET_MONTH_CD}}"  [selected]="select_mth_from == item3.BUDGET_MONTH_CD">{{item3.MONTH_DESC}}</ion-option>       
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item class="size">
                    <ion-label> ถึง: </ion-label>
                    <ion-select [(ngModel)]="month_to" (ionChange)="SelectMonthTo(typeCur,month_from,month_to)">
                            <ion-option  *ngFor="let item4 of ResponseMthTo"  value="{{item4.BUDGET_MONTH_CD}}"  [selected]="select_mth_to == item4.BUDGET_MONTH_CD">{{item4.MONTH_DESC}}</ion-option>        
                    </ion-select>
                  </ion-item>
              </ion-col>
          </ion-row>
        </ion-grid>
  
   <h3 style="padding-right: 2%" class="desc-right">หน่วย : ราย/ใบ</h3>

    <ion-card>
      <ion-card-content no-padding>
        <div class="table-responsive">
          <table class="table" style="width: 100%;">
            <thead>
              <tr style="background-color: #F78B26; " class="solid-head">
                <th width="15%" rowspan="2">
                  <h3 class="th-center" [style.fontSize]="fontSize">หน่วยงาน</h3>
                </th>
                <th rowspan="2">
                  <h3 class="th-center" [style.fontSize]="fontSize">จำนวนราย</h3>
                </th>
                <th colspan="4">
                  <h3 class="th-center" [style.fontSize]="fontSize">ใบอนุญาต</h3>
                </th>
              </tr>
              <tr style="background-color: #F78B26; ">
                <th>
                  <h3 class="th-center" [style.fontSize]="fontSize">สุรา</h3>
                </th>
                <th>
                  <h3 class="th-center" [style.fontSize]="fontSize">ยาสูบ</h3>
                </th>
                <th>
                  <h3 class="th-center" [style.fontSize]="fontSize">ไพ่</h3>
                </th>
                <th>
                  <h3 class="th-center" [style.fontSize]="fontSize">รวม</h3>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of responseData">
                <td width="15%">
                  <h3 class="td-center" [style.fontSize]="fontSize">{{data.REGION_DESC}}</h3>
                </td>
                <td>
                  <h3 class="td-right" [style.fontSize]="fontSize">{{data.COUNT_REG}}</h3>
                </td>
                <td>
                  <h3 class="td-right" [style.fontSize]="fontSize">{{data.NUM_OF_LIC_SURA}}</h3>
                </td>
                <td>
                  <h3 class="td-right" [style.fontSize]="fontSize">{{data.NUM_OF_LIC_TOBBACO}}</h3>
                </td>
                <td>
                  <h3 class="td-right" [style.fontSize]="fontSize">{{data.NUM_OF_LIC_CARD}}</h3>
                </td>
                <td>
                  <h3 class="td-right" [style.fontSize]="fontSize">{{data.TOTAL_LIC}}</h3>
                </td>
              </tr>
              <tr *ngFor="let data of responseSumData">
                <td width="15%">
                  <h3 class="td-center" [style.fontSize]="fontSize">รวม</h3>
                </td>
                <td>
                  <h3 class="td-right" [style.fontSize]="fontSize">{{data.COUNT_REG}}</h3>
                </td>
                <td>
                  <h3 class="td-right" [style.fontSize]="fontSize">{{data.NUM_OF_LIC_SURA}}</h3>
                </td>
                <td>
                  <h3 class="td-right" [style.fontSize]="fontSize">{{data.NUM_OF_LIC_TOBBACO}}</h3>
                </td>
                <td>
                  <h3 class="td-right" [style.fontSize]="fontSize">{{data.NUM_OF_LIC_CARD}}</h3>
                </td>
                <td>
                  <h3 class="td-right" [style.fontSize]="fontSize">{{data.TOTAL_LIC}}</h3>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
