<ion-header>
    <ion-navbar color="navber">
      <ion-title>ผู้ประกอบการ<br>
        ผู้ใช้งาน : {{offcode}} <br>
    </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
        <ion-item style="background-color:#D0DFE6;" text-center>
            <h2 class="header-style">รายงาน Top 10 ผู้ประกอบการปีงบประมาณ </h2>
            <h2 class="header-style">{{dateAsOff}}</h2>
        </ion-item>

               <!-- <ion-item class="size">
    <ion-label>ปีงบประมาณ : </ion-label>
            <ion-select [(ngModel)]="Year"  (ionChange)="selectYear(Region,Province,Year)">
                <ion-option value="undefined"  [selected]="true">ทั้งหมด</ion-option>
                <ion-option  *ngFor="let data of summaryDate" value="{{data.key}}" >{{data.key}}</ion-option>
            </ion-select>
        </ion-item>-->

        <ion-grid>
            <ion-row>
             <ion-col>
               <ion-item  class="size">
                   <ion-label> ภาค : </ion-label>
                   <ion-select  [(ngModel)]="Region" (ionChange)="selectRegion(Region,Province)">
                         <ion-option value="undefined"  [selected]="true">ทั้งหมด</ion-option>
                           <ion-option  *ngFor="let item of responseRegion"  value="{{item.REGION_NAME}}" >{{item.REGION_NAME}}</ion-option>              
                   </ion-select>
                 </ion-item>
             </ion-col>        
             <ion-col>
               <ion-item  class="size">
                   <ion-label>จังหวัด : </ion-label>
                   <ion-select  [(ngModel)]="Province" (ionChange)="selectionProvince(Region,Province)">
                           <ion-option value="undefined"  [selected]="true">ทั้งหมด</ion-option >
                           <ion-option  *ngFor="let item1 of ResponseProvince"  value="{{item1.PROVINCE_NAME}}">{{item1.PROVINCE_NAME}}</ion-option>            
                   </ion-select>
               </ion-item>
            </ion-col>         
            </ion-row>
         </ion-grid>

        <h3 style="padding-right: 2%" class="right">หน่วย : ล้านบาท</h3>
    <ion-card>           
        <ion-card-content no-padding>       
                <div class="table-responsive">
                        <table class="table" style="width: 100%;">
                          <thead>
                            <tr style="background-color: #F78B26; ">
                                                <th width="10%"><h3 class="center">ลำดับ</h3></th>
                                                <th><h3 class="center">ผู้ประกอบการ</h3></th>
                                                <th width="30%"><h3 class="center">ภาษีปีนี้</h3></th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr *ngFor="let data of responseData">
                                                <td width="10%"><h3 class="center">{{data.SORT}}</h3></td>
                                                <td><h3 class="left">{{data.REG_NAME}}</h3></td>
                                                <td width="30%"><h3 class="right">{{data.TAX}}</h3></td>
                                        </tr>
                                        <!--<tr>
                                            <td colspan="2"><h3 class="center">รวมทั้งสิ้น</h3></td>
                                            <td></td>
                                        </tr>-->
                                </tbody>
                        </table>
                        </div>
                       
            </ion-card-content>
 
      </ion-card>

      <ion-scroll scrollX="true">
            <ion-card >
            
                    <ion-card-content no-padding>       
                         
                        <ion-grid >    
                            <ion-row nowrap>
                              <ion-col  ><img src="../../assets/imgs/mobileelscover.png"/></ion-col>
                            </ion-row>
                            
                        </ion-grid>
                        
                    </ion-card-content>
             
                  </ion-card>
        </ion-scroll>
      
     
       
   

  </ion-content>
  