<ion-header>
    <ion-navbar color="primary">
      <ion-title>ผู้ประกอบการ</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
        <ion-item  style="background-color:#D0DFE6;font-size: 20px;" text-center>
           <h2>รายงาน Top 10 ผู้ประกอบการปีงบประมาณ</h2>
        </ion-item>

        <ion-item>
            <ion-label  text-center>ปีงบประมาณ : </ion-label>
            <ion-select [(ngModel)]="year"  #item (ionChange)="selectDate(item.value)">
                <ion-option  *ngFor="let data of summaryDate" value="{{data.value}}" >{{data.key}}</ion-option>
            </ion-select>
        </ion-item>
        
    <ion-card>           
        <ion-card-content no-padding>       
             
                        <div class="table-responsive">     
                        <table class="table" style="width: 100%;">
                                <thead>
                                        <tr>
                                                <th>ลำดับ</th>
                                                <th>ผู้ประกอบการ</th>
                                                <th>ภาษีปีนี้</th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr *ngFor="let data of responseData">
                                                <td text-center>{{data.SORT}}</td>
                                                <td><p>{{data.REG_NAME}}</p></td>
                                                <td><p>{{data.TAX | number : fractionSize}}</p></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" text-center><strong>รวมทั้งสิ้น</strong></td>
                                            <td></td>
                                        </tr>
                                </tbody>
                        </table>
                        </div>
                       
            </ion-card-content>
 
      </ion-card>

      <ion-scroll scrollX="true">
            <ion-card >
            
                    <ion-card-content no-padding>       
                         
                        <ion-grid >    
                            <ion-row nowrap>
                              <ion-col  ><img src="../../assets/imgs/mobileelscover.png"/></ion-col>
                            </ion-row>
                            
                        </ion-grid>
                        
                    </ion-card-content>
             
                  </ion-card>
        </ion-scroll>
      
     
       
   

  </ion-content>
  